.form {
    padding: 0 var(--size14);
}

.body-content {
    display: flex;
    margin: 0;
    margin-top: var(--size12);
}

.form .body-message {
    font-size: var(--size10);
}

.change-method {
    font-size: var(--size8);
    white-space: nowrap;
    margin: 0;
}

.form-signup-login {
    background-color: var(--color-primary);
}

.form .submit:nth-child(1) {
    border: var(--size1) solid var(--color-success);
}

.form .submit:nth-child(2) {
    border: var(--size1) solid var(--color-error);
}


/* .simple-modal-action .submit:nth-child(2) {} */