.main-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form label {
    margin-left: var(--size5);
}

.form .input {
    width: 90%;
    margin-top: var(--size1);
    border-radius: var(--size4);
}

.login-message {
    font-size: var(--size14);
    margin-top: var(--size5);
}


/* submit button */

input.submit {
    width: 30%;
}


/* signup login form */

.form-signup-login {
    background-color: var(--color-white);
    margin-top: var(--size8);
    border-radius: var(--size2);
    border: var(--size4);
    border-bottom: var(--size1) solid var(--color-black);
}


/* link to signup login instead */

.change-method {
    color: rgba(0, 0, 255, 0.945);
}


/* other ways to signup - login */

.footer-elements {
    margin: var(--size16) var(--size0);
    padding: 1%;
    width: 20%;
}

.footer-text {
    font-size: var(--size8);
    margin-bottom: var(--size8);
    display: flex;
    justify-content: center;
}

.other-login-methods {
    font-size: var(--size15);
    display: flex;
    justify-content: space-between;
}